*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}

.bg-color{background-image: linear-gradient(to bottom right , #212529 , #343a40 , #495057 , #6c757d , #adb5bd , #ced4da );
background-position: center;
background-repeat: no-repeat;
min-height: 100vh;}


.heading{font-family: Passion One;
font-size: 12rem;
text-align: center;
color: white;
letter-spacing: 0.2rem;
margin-top: 10rem;}


.timer-display{font-family: Passion One ;
font-size: 7rem;
text-align: center;
color: white;
margin-top: 5rem;}


.buttons{text-align: center;}

.btns{
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 1.5rem;
    font-family: Passion One;
    font-size: 2rem;
    margin: 0.5rem;
    cursor: pointer;
    margin-top: 4rem;
    transition: ease-in-out 0.3s;
}

.btns:hover{background-color: #212529;
color: white;}



@media(max-width:998px){
    html{font-size: 55%;}
}


@media(max-width:768px){
    html{font-size: 45%;}
}

